/* General Styles */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
  color: #111111;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('/public/texas-luminescence.png');
  background-size: cover;
  background-position: center;
  position: relative;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: absolute;
  top: 0;
}

.logo img {
  width: 50px;
  height: 50px;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.register-button {
  background-color: #d4af37;
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.center-logo {
  margin-top: 100px;
}

.center-logo h1 {
  font-size: 2em;
  font-weight: bold;
  color: #000000;
  position: relative;
}

.center-logo h1::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 10px;
  background: rgba(212, 175, 55, 0.5); /* Light golden glow effect */
  z-index: -1;
  border-radius: 50%;
  filter: blur(15px); /* Adjust the blur effect */
}

/* Media Queries */
@media (max-width: 640px) {
  .cc-hide-on-mobile {
    display: none !important;
  }
}

@media (min-width: 641px) and (max-width: 920px) {
  .cc-hide-on-tablet {
    display: none !important;
  }
}

@media (min-width: 921px) and (max-width: 1440px) {
  .cc-hide-on-desktop {
    display: none !important;
  }
}
